body{
    background-image: url(../img/bgimg/bg9.jpg);
    background-size: cover;
    background-position: center;
}
#jumbotron{
    padding-top: 6rem;
}
#project .card{
    border-radius: 10px;
    overflow: hidden;
}
.imgWrap{
    text-align: center;
}
#about{
    background-color: white;
}
.profpic{
    width: 200px;
    height: 200px;
}
#skill{
    background-color: white;
}
section{
    padding: 5rem 0;
}
.proj1, .proj2, .proj3{
    margin: 0 auto;
    width: 250px;
}
.icon{
    width: 30px;
}
.resumeBtn{
    background-color: green;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}