body{
    background-image: url(../img/bgimg1.jpg);
    background-size: cover;
    background-position: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: black;
}
section{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
figure{
    flex-basis: 33.33%;
}
figure img{
    width: 4em;
}
#jumbotron{
    height: 100vh;
}
#about{
    background-color: white;
}
#toolbox{
    background-color: white;
}
#contact{
    height: 300px;
}
.profpic{
    width: 250px;
}
.col i{
    font-size: 2em;
}
.card{
    border-radius: 10px;
    transition: .3s;
}
.card:hover{
    transform: scale(103%);
}
.card img{
    width: 200px;
    margin: 0 auto;
}
:target{
    scroll-margin-top: 3.5rem;
}